<%= form_with model: [@article, @comment] do |form| %>
  <div class="form-group">
    <%= form.label :body, class: "label" %>
    <%= form.text_area :body, class: "form-control", required: true %>
  </div>

  <%= form.submit %>
<% end %>