<main class="container">
    <h1>Welcome</h1>       
    <% @articles.each do | article | %>
        <%= link_to render("article", :article => article), article_path(article), class: "text-decoration-none text-reset" %>
    <% end %> 
    <% if user_signed_in? %>
        <%= link_to "Create New Article", new_article_path, class: "btn btn-info"%>
    <% end %>  
</main>
