<div class="form-group">
  <%= form.label :body, class: "label"%>
  <%= form.text_field :body, class: "form-control my-3", required: true %>
  <%= form.hidden_field :user_id, value: current_user.id %>
</div>

<%= form.submit "New Comment", class: "btn btn-primary" %>