<% if flash[type] %>
  <div class="alert alert-<%= alert_type %> alert-dismissible fade show" role="alert">
    <%= flash[type] %>
    <button type="btn" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>